<div class="loginbox">
    <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/female1-512.png" class="avatar">
      <h1>Log In </h1>
      <form>
        <p>User Name</p>
        <input type="text" name="" placeholder="Enter UserName" required>
        <p>Password</p>
        <input type="text" name="" placeholder="Enter Password" required>
        <input type="submit" name="" value="Log In" required>
        <a href="#">Forgot Passwaord</a>
        <a href="#">Sign up Here</a>
      </form>
</div>
