<div class="container">
    <div class="navbar">
        <img src="https://cdn.dribbble.com/users/1787323/screenshots/14113017/media/f8632f8c42e53263256b94e6e575c3df.png?compress=1&resize=400x300&vertical=top" class="logo">
        <nav>
            <ul>
                <li><a href="">GAME CONTROLLERS</a></li>
                <li><a href="">VR ACCESSORIES</a></li>
                <li><a href="">MEDIA REMOTES</a></li>
                <li><a href="">OTHERS</a></li>
            </ul>
        </nav>
        <img src="https://cdn-icons-png.flaticon.com/512/56/56763.png" class="menu-icon">
    </div>
    <div class="row">
        <div class="col-1">
           <h2>PS5 V2<br>DUALSHOCK 5</h2>
           <h3>Wireless Controllers for PlayStation 5</h3>
           <p>(Compatible/Generic)</p>
           <h4>$20.01</h4>
           <button type="button">Buy Now</button>
        </div>
        <div class="col-2">
           <img src="https://scufgaming.com/media/prismic/7a716d11-edb0-4a68-83a1-cdefacd9b8a5_reflex_compare_model_base_black_front_850x600.png" class="controller">
       <div class="color-box"></div>
       <div class="add-btn">
        <img src="http://cdn.onlinewebfonts.com/svg/img_51677.png">
        <p><small>Add to Cart</small></p>
       </div>
        </div>
    </div>
</div>
